:root {
  /* colors variables */
  --clr-blue-dark: #0000ff;
  --clr-blue-medium: #3a9efd;
  --clr-blue-light: #bee6ff;
  --clr-bg: #fffffd;

  --clr-0: #ffffff;
  --clr-2: #d6d6d6;
  --clr-4: #adadad;
  --clr-6: #7b7b7b;
  --clr-8: #404040;
  --clr-10: #050505;

  /* font size variables */
  /* font family variables */
  --font-family: "Poppins", sans-serif;
  --font-regular: 400;
  --font-medium: 500;

  --fs-h1: 28px;
  --fs-h2: 24px;
  --fs-h3: 20px;
  --fs-label: 15px;
  --fs-p: 16px;
  --fs-small-text: 12px;
  --fs-link: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
label,
p,
small-text,
link {
  word-spacing: 0;
}

h1,
h2,
h3,
label {
  font-weight: var(--font-medium);
}

p,
small-text,
link {
  font-weight: var(--font-regular);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

label {
  font-size: var(--fs-label);
}

p {
  font-size: var(--fs-p);
}

small-text {
  font-size: var(--fs-small-text);
}

link {
  font-size: var(--fs-link);
}

#root {
  width: 100%;
  height: 100%;
}
